name: CMake

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies (distribution provided)
      run: sudo apt-get update && sudo apt install libicu66 libboost-all-dev

    - name: Install dependencies (google-test tricky install) # See https://stackoverflow.com/questions/24295876/cmake-cannot-find-googletest-required-library-in-ubuntu
      run: sudo apt install libgtest-dev build-essential cmake && cd /usr/src/googletest && sudo cmake . && sudo cmake --build . --target install

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Install dependencies (OpenNMT Tokenizer)
      working-directory: ${{runner.workspace}}/build
      run: git clone --recursive --branch v1.20.0 --depth 1 https://github.com/OpenNMT/Tokenizer && cd Tokenizer && git submodule update --init && mkdir build && cd build && cmake -DLIB_ONLY=ON .. && sudo make install

    - name: Configure CMake
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Downloading test data
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: git clone https://github.com/SYSTRAN/fuzzy-match

    - name: Building test indexes
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: ./cli/src/FuzzyMatch-cli -c fuzzy-match/test/data/tm1,fuzzy-match/test/data/tm1 --add-target 1 && ./cli/src/FuzzyMatch-cli -c fuzzy-match/test/data/tm1,fuzzy-match/test/data/tm1 --add-target 1 && ./cli/src/FuzzyMatch-cli -c fuzzy-match/test/data/tm2.en.gz,fuzzy-match/test/data/tm2.fr.gz --add-target

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: ./test/FuzzyMatch-test fuzzy-match/test/data/
